html, body {
  background: #000;
  color: #6f6;
}

#caption {
  text-align: center;
  color: #6f6;
  font-size: 20px;
  border-bottom: 2px solid #6f6;
  margin: 5px 0px;
  padding: 5px;
}

#application {
  margin: 5px auto;
  width: 650px;
  height: 600px;
  position: relative;
}

#display {
  left: 0px;
  top: 0px;
  background: transparent;
  position: absolute;
  width: 450px;
  height: 600px;
}

#menu1 {
  top: 0px;
}

#menu2 {
  top: 50px;
}

#menu3 {
  top: 100px;
  text-align: center;
  font-size: 20px;
  color: #6f6;
  transition: all 0.2s ease-out;
}

#menu5 {
  top: 100px;
  text-align: center;
  font-size: 20px;
  color: #6f6;
  transition: all 0.2s ease-out;
}

#menu6 {
  top: 100px;
  text-align: center;
  font-size: 20px;
  color: #6f6;
  transition: all 0.2s ease-out;
}

#menu4 {
  bottom: 0px;
}

#menu {
  top: 100px;
  text-align: center;
  font-size: 20px;
  color: #6f6;
  transition: all 0.2s ease-out;
}

#reset {
  top: 100px;
  text-align: center;
  font-size: 20px;
  color: #6f6;
  transition: all 0.2s ease-out;
}

.menu {
  padding: 10px;
  width: 170px;
  right: 0px;
  background: rgba(150, 150, 150, 0.3);
  position: absolute;
}

label {
  color: #6f6;
}

p {
  font-size: 12px;
}
