body {
  margin: 0;
  background-color: grey;
}

#root {
  padding: 3rem;
  text-align: center;
}

#root h1 {
  font-family: 'Press Start 2P', cursive;
}

#root canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid black
}